@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.eb-garamond-normal-800 {
  font-family: "EB Garamond";
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal; text-decoration: none;
}
.bg-secondary {
    background-color: #400050!important;
  }
a, .btn.btn-link {
    color: #efb1fc; 
}
:root {
  --cor-principal: #fd3dd3f8;
  --cor-secundaria: #9ecbff;
  --cor-destaque: #e677ff;
}
body {
  font-family: 'EB Garamond';
  color: var(--cor-destaque); font-weight: 500; 
}
h1, h2, h5 {
  color: var(--cor-secundaria);
  font-weight: 900;
}
.lead, .btn-link {
  color: var(--cor-principal);
  font-weight: 800;
}
a:hover, .btn-link:hover {
  color: #ff00c8f8
} p { color: #cf35b6;font-size: 800;} .card-title {color: #61aeec;}